
.markdown hr.footnotes-sep {
    margin-top: 50px;
    margin-bottom: 50px;

}


.markdown div.admonition {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  font-size: inherit;
  margin: 10px;
  padding: 0px;
}

.markdown div.admonition p.admonition-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: inherit;
  margin: 0px;
  padding: 2px 10px 2px 10px;
  color: #fff;
}

.markdown div.admonition p:not(p.admonition-title) {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: inherit;
  padding: 10px;
  margin: 0px;
  width: 100%;
}

.markdown div.admonition.info {
  border-color: #0BC19C;
}

.markdown div.admonition.info p.admonition-title {
  background-color: #0BC19C;
}

.markdown div.admonition.example,
.markdown div.admonition.snippet {
  border-color: #5A04C3;
}

.markdown div.admonition.example p.admonition-title,
.markdown div.admonition.snippet p.admonition-title {
  background-color: #5A04C3;
}

.markdown div.admonition.abstract,
.markdown div.admonition.note,
.markdown div.admonition.summary,
.markdown div.admonition.tldr {
  border-color: #013A83;
}

.markdown div.admonition.abstract p.admonition-title,
.markdown div.admonition.note p.admonition-title,
.markdown div.admonition.summary p.admonition-title,
.markdown div.admonition.tldr p.admonition-title {
  background-color: #013A83;
}

.markdown div.admonition.tip {
  border-color: #08A206;
}

.markdown div.admonition.tip p.admonition-title {
  background-color: #08A206;
}

.markdown div.admonition.attention,
.markdown div.admonition.caution,
.markdown div.admonition.warning {
  border-color: #DB7006;
}

.markdown div.admonition.attention p.admonition-title,
.markdown div.admonition.caution p.admonition-title,
.markdown div.admonition.warning p.admonition-title {
  background-color: #DB7006;
}

.markdown div.admonition.bug,
.markdown div.admonition.danger,
.markdown div.admonition.error,
.markdown div.admonition.fail,
.markdown div.admonition.failure,
.markdown div.admonition.missing {
  border-color: #B10B0B;
}


.markdown div.admonition.bug p.admonition-title,
.markdown div.admonition.danger p.admonition-title,
.markdown div.admonition.error p.admonition-title,
.markdown div.admonition.fail p.admonition-title,
.markdown div.admonition.failure p.admonition-title,
.markdown div.admonition.missing p.admonition-title {
  background-color: #B10B0B;
}

.markdown div.admonition.cite,
.markdown div.admonition.quote {
  border-color: #A3A3A3;
}

.markdown div.admonition.cite p.admonition-title,
.markdown div.admonition.quote p.admonition-title {
  background-color: #A3A3A3;
}

.markdown div.admonition.quote p:not(p.admonition-title) {
  font-style: italic;
}

.markdown div.admonition.success {
  border-color: #0EC10B;
}

.markdown div.admonition.success p.admonition-title {
  background-color: #0EC10B;
}


div.code-copy {
  display: flex;
  flex-direction: column;
  margin-top: -1rem;
  padding-top: -1rem;
}

button.code-copy svg {
  fill: var(--text-colour-help);

}

.hljs {
  background: var(--pf-t--global--background--color--secondary--default);
  color: var(--text-colour);
  padding: 5px;
  border: 1px solid var(--border-colour);
  display:block;
  width: 99%;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  margin: 0px auto;
}

.hljs-comment,
.hljs-quote,
.hljs-variable {
  color: #008000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-built_in,
.hljs-name,
.hljs-tag {
  color: #00f;
}

.hljs-string,
.hljs-title,
.hljs-section,
.hljs-attribute,
.hljs-literal,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type {
  color: #c28866;
}

.hljs-addition {
  color: #73cc73;
}

.hljs-deletion {
  color: #ff7b53;
}

.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-meta {
  color: #2b91af;
}

.hljs-doctag {
  color: #808080;
}

.hljs-attr {
  color: #3166c9;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link {
  color: #00b0e8;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

